<html>
<head>
  <title>My Epic Gaming Journey</title>
  <script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
  <h1>My Epic Gaming Journey</h1>
  <script is:inline>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>